*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}



body{
  background-color: #fff;
}

header {
  background-color: rgb(110, 9, 110);
  display: flex;
  justify-content: space-between;
  padding: 0 60px;
  align-items: center;
}

header .logo{
  color: #fff;
  font-size: 26px;
  font-weight: bold;
}

header ul {
  display: flex;
  gap: 26px;
  color: #fff;

}

h1{
  color: black;
}

header a{
  color: black;
  display: block;
  line-height: 46px;
  margin: 10px;
}

.centro {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.centro.dark {
  background-color: #242424;
}

.switch {  
  line-height: 40px;
  background-color: black;
  color: antiquewhite;
  padding: 0 26px;
  border-radius: 8px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
  transition-duration: 300ms;
}

.dark + .switch {
  background-color: aliceblue;
  color: black;
}

button {
  background-color: rgb(235, 3, 123);
  padding: 0 26px;
  border-radius: 8px;
  color: rgb(10, 9, 9);
  border: 0;
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
  transform: scale(1);
  line-height: 46px;
  cursor: pointer;
  animation: pulse 2s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(16, 29, 213, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}






